# IDE
/.idea/

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage
/test-results/
/playwright-report/
/playwright/.cache/

# Next.js
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

.DS_Store
/tmp/
/test-results/headers-HTTP-Headers-and-M-5ab3e-ts-Tag-header-on-API-routes-chromium/trace.zip
/test-results/headers-HTTP-Headers-and-M-49d93-ts-Tag-header-on-all-routes-chromium/trace.zip
/test-results/headers-HTTP-Headers-and-M-27918-bots-Tag-header-on-homepage-chromium/trace.zip
/test-results/headers-HTTP-Headers-and-M-efa41-ave-meta-robots-tag-in-HTML-chromium/trace.zip
/test-results/robots-robots-txt-robots-txt-should-disallow-all-chromium/trace.zip
/test-results/robots-robots-txt-should-have-text-plain-content-type-chromium/trace.zip
/test-results/robots-robots-txt-should-serve-robots-txt-chromium/trace.zip
/test-results/smoke-Smoke-Tests-create-ticket-page-should-be-accessible-chromium/trace.zip
/test-results/smoke-Smoke-Tests-homepage-should-load-successfully-chromium/trace.zip
/test-results/smoke-Smoke-Tests-should-display-the-application-title-chromium/trace.zip
/test-results/smoke-Smoke-Tests-should-display-ticket-list-chromium/trace.zip
