name: Renovate

on:
  schedule:
    # Exécute tous les jours à 2h du matin (heure UTC)
    - cron: '0 2 * * *'
  workflow_dispatch: # Permet de lancer manuellement le workflow

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.3
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          LOG_LEVEL: debug
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
